/* width = 인라인요소는 줄어들라고함 블럭요소는 최대한 늘릴라고함 */
/* max-width, max-height - 요소가 커질 수 있는 최대 가로/세로 너비 */
/* 단위
px 픽셀
% 상대적 백분율
em 요소의 글꼴 크기
rem 루트 요소(html)의 글꼴 크기
vw 뷰포트 가로 너비의 백분율
vh 뷰포트 세로 너비의 백분율 */

/* margin - 요소의 외부 여백을 지정하는 단축 속성(음수도 사용가능) margin:0 0 0 0 시계방향으로 위 오른쪽 아래 왼쪽 */
/* padding - 요소의 내부 여백(공간)을 지정하는 단축 속성 */
/* border: 선-두께 선-종류 선-색상 = 요소의 테두리 선을 지정하는 단축 속성
border-width
border-style: solid(실선) dashed(파선) dotted(점선)
border-color: transparent(투명)
색상표현
색상 이름 : red tomato royalblue
hex 색상코드 16진수 색상 #000 #fff
rgb 빛의 삼원색 rgb(255, 255, 255)
rgba 빛의 삼원색+투명도 rgba(0, 0, 0, 0.5) 
border-radius: 모서리를 둥글게 만듬 
box-sizing: border-box(요소의 내용 + padding + border로 크기 계산)  content-box(요소늬 내용으로 크기 계산)

overflow - 요소의 크기 이상으로 내용이 넘쳤을 때, 보여짐을 제어하는 단축 속성  visivle-넘침 내용을 그대로 hidden -넘친 내용을 잘라냄 scroll(스크롤)
개별속성으로 overflow-x, overflow-y*/

/* 화면 출력
display - 요소의 화면 출력 특성
:block 상자요소
:inline 글자요소
:inline-block 글자 + 상자
:flex 플렉스 박스
:grid 그리드
:none 사라짐
기타 table, table-row, table-cell */

/* 투명도 opacity
1불투명
0~1 0부터 1사이로 투명해짐 0에 가까울 수록 투명 */

/* line-height - 한줄의 높이, 행간과 유사 / 배수로 입력이 좋음 1,2,1.5 드,ㅇ등 */
/* color(글자의 색상) rgb(0, 0, 0) 검정색
text-align(문자의 정렬 방식) left, right, center 
text-decoration(문자의 장식{선}) none, underline(밑줄), line-through(중앙 선)
text-indent(첫문장 들여쓰기{양수, 음수 가능}) */

/* background-image:url(경로)
background-size:(사이즈) auto, 단위 cover(더 넓은 넓이에 맞춰 비율조정), contain(짧은 넓이에 맞춰 비율 조정)
background-repeat(하나만 나오게 하기):no-repeat(반복없음) repeat(반복), repeat-x(수평 반복), repeat-y(수직 반복)
background-position(위치):center, top, bottom, left, right 단위로도 지정가능 px, em, rem 
background-attachment: scroll(이미지가 요소를 따라서 같이 스크롤) fixed(고정)  */

/* position- 요소의 위치 지정 기준
relative - 요소 자신을 기준
absolute - 위치 상 부모 요소를 기준
static - 기준없음
fixed - 뷰토프를 기준
sticky - 스크롤 영역 기준 */

/* flex
flex-container
flex-direction : row(행 좌 > 우), row-reverse(행 우 > 좌), column (열 위 > 아래), column-reverse(열 아래 > 위)
flex-wrap : nowrap(묶음 없음), wrap (d여러 줄로 묶음)
justify-content : flex-start(플렉스 아이템을 시작점으로 정렬), flex-end( 끝점으로 정렬), center(가운데 정렬)
align-contert : stretch(플렉스 아이템을 시작점으로), flex-start(시작점), flex-end(끝점), center(가운데 정렬)
align-items : stretch(플렉스 아이템을 시작점으로), flex-start(시작점), flex-end(끝점), center(가운데 정렬)

flex-items
order(아이템의 순서) : 0(숫자없음) 숫자 (숫자가 작을 수록 먼저)
flex-grow(아이템의 증가 너비 비율) : 0(증가비율 없음), 숫자(증가비율)
flex-shrink(아이템의 감소 너비 비율) : 1(컨테이너 너비에 따라 감시 비율), 숫자 (감소비율)
flex-basis (공간 배분 전 기본 너비) : auto(요소의 컨텐츠 너비), 단위 */



.block {
  background-color:orange;
}
span {
  background-color:orange;
}
.parent {
  width:300px;
  height:200px;
  background-color:royalblue;
  font-size:10px;
}
.chlid {
  /* width:auto;
  max-width:300px; */
  /* min-width: 400px; */
  /* width:50%;
  height:50%; */
  /* width: 20em; */
  /* width: 20rem; */
  /* width:50vw;
  height: 100vh; */
  background-color:orange;
}

.container {

}
.container .item {
  width:100px; 
  height:100px;
  background-color:orange;
  margin:20px 0 0 0;
}
